
.splash-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1020px;
    transition: background-image 2s linear ;
    box-shadow: 0px 2px 3px 2px rgb(0 0 0 / 50%);
    margin-bottom: 30px;

    /* should I make background image fade in??? */
}

.splash-search-container.bgd1 {
    background-image: url('/assets/splash-1.jpeg');
    background-size: cover;
    background-position: center;
}

.splash-search-container.bgd2 {
    background-image: url('/assets/splash-2.jpeg');
    background-size: cover;
    background-position: center;
}

.splash-search-container.bgd3 {
    background-image: url('/assets/splash-3.jpeg');
    background-size: cover;
    background-position: center;
}

.splash-search-container.bgd4 {
    background-image: url('/assets/splash-4.jpeg');
    background-size: cover;
    background-position: center;
}


.splash-search-header {
    font-family: Percent, Beatrice, Arial, sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 1.3;
    /* margin-bottom: 120px; */
    /* color: #2b381f; */
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 1s ease-out;
    transition-delay: 0.5s;
}

.splash-search-bar-container {
    opacity: 0;
    transition: opacity 1s ease-out;
    transition-delay: 1.5s;
}

.splash-search-bar {
    font-family: Percent, Beatrice, Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 70px;
    color: #2b381f;

    border-radius: 20px;
    border: none;
    width: 450px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 20px;
    position: relative;
    transition: background-color 0.1s ease-in
}

.splash-search-bar:focus {
    outline: none;
    background-color: white;
}

/* .splash-search-bar-label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 12px;
    transition: 0.2s ease all;
    font-family: Manrope,
        Arial,
        sans-serif !important;
    font-size: 16px;
    color: #888d85;
} */



.splash-search-bar-container {
    position: relative;
}




.splash-trails-container {
    opacity: 1;

    /* opacity: 0;
    transition: opacity 1s ease-out;
    transition-delay: 2s; */
}


.splash-trails-header {
    font-family: Percent, Beatrice, Arial, sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.3;
    color: #2b381f;
    margin-left: 100px;
}

.splash-river {
    margin: 0px 100px 0px 100px;
    padding-bottom: 50px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

::-webkit-scrollbar {
    height: 0;
    /* hide the scrollbar height */
    width: 0;
    /* hide the scrollbar width */
}

.splash-river-trail-card-container {
    display: flex;
    width: fit-content;
}

.trail-card {
    scroll-snap-align: start;
    width: 300px;
    height: 280px;
    border-radius: 10px;
    margin: 10px;
}

.trail-card:hover {
    cursor: pointer;
}

.trail-card:hover .trail-card-image img {
    transform: scale(1.2);
    /* img scale * 1.2 */
}

.trail-card-image {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 50%);
    /* image placeholder */
    /* background-image: url('/assets/bgd-large-1.jpeg');
    background-size: cover;
    background-position: center; */
}

.trail-card-image img {
    /* border-radius: 10px; */
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.trail-card-reviews {
    font-family: Manrope, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #2b381f;
}

.review-star {
    color: rgb(93, 227, 114);
}

.review-alt-coloring {
    color: #656e5e;
}

.trail-card-name {
    font-family: Manrope, Arial, sans-serif;
    font-weight: 550;
    color: #2b381f;
    letter-spacing: 0.4px;
    margin-top: 7px;
    /* margin-bottom: 3px; */
}

.trail-card-park {
    font-family: Manrope, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #656e5e;;
}

.trail-card-details > * {
    font-family: Manrope, Arial, sans-serif;
    font-size: 14px;
    color: #888d85;
    margin-right: 5px;
}

/* for fade effects*/

.splash-search-header.isLoaded,
.splash-search-bar-container.isLoaded,
.splash-trails-container.isLoaded {
    opacity: 1;
}

