
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 10vh;
    background-image:
            url('https://danielliem49-pathfinder-seeds.s3.us-west-1.amazonaws.com/Pathfinder-seed-images/frontendAssets/login-bgd-1.jpg'),
            url('https://danielliem49-pathfinder-seeds.s3.us-west-1.amazonaws.com/Pathfinder-seed-images/frontendAssets/login-bgd-2.jpg'),
            url('https://danielliem49-pathfinder-seeds.s3.us-west-1.amazonaws.com/Pathfinder-seed-images/frontendAssets/login-bgd-3.jpg'),
            url('https://danielliem49-pathfinder-seeds.s3.us-west-1.amazonaws.com/Pathfinder-seed-images/frontendAssets/login-bgd-4.jpg');
        background-position:
            top left,
            top right,
            bottom left,
            bottom right;   
        background-size: 50% 50%;
        background-repeat: no-repeat;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 400px;
}

/* login-form, inputs, and buttons */

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-form > * {
    margin-bottom: 20px;
}

.login-form-header {
    text-align: center;
    margin: 0px;
}

.login-form-header>* {
    font-family: Percent, Beatrice, Arial, sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.3;
    color: #2b381f;
    margin: 20px;
}

.login-form-header :last-child {
    font-size: 18px;
}

.login-form-input-group {
    position: relative;
}

.login-inputs:focus~.login-input-labels {
    background: white;
    padding: 2px;
    left: 12px;
    top: -12px;
    font-size: 14px;
    opacity: 1;
    color: #012411;
    /* transition: color 0.3s ease; */
}

.login-inputs:not(:focus):valid~.login-input-labels {
    background: white;
    padding: 2px;
    left: 12px;
    top: -12px;
    font-size: 14px;
    opacity: 1;
    color: #888d85;
    /* transition: color 0.3s ease; */
}


.login-inputs {
    font-family: Manrope, Arial, sans-serif;
    font-size: 16px;
    width: 360px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 0 1px transparent;
    padding-left: 15px;
    transition: border 0.3s ease;
}

.login-inputs:focus {
    border: 1px solid #0c441e;
    box-shadow: 0 0 0 1px #0c441e;
    outline: none;
}

.login-inputs:hover {
    border: 1px solid #0c441e;
    outline: none;
}

.login-input-labels{
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 12px;
    transition: 0.2s ease all;
    font-family: Manrope,
        Arial,
        sans-serif !important;
    font-size: 16px;
    color:#888d85;
}

.type1-button {
    background-color: #0c441e;
    color: #fff;
    padding: 10px 100px;
    border-radius: 9999px;
    border: none;
    font-family: Manrope, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease all; 
    width: 375px;
    /* height: 40px; */
    /* margin-right: 10px; */
}

hr {
    width: 280px;
    /* border-bottom: 1px solid rgba(1, 53, 44, 0.2); */
}

.type1-button:hover {
    background-color: #253122;
}


/* errors */
.login-errors {
    color: red;
    font-family: Percent, Beatrice, Arial, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.login-errors li {
    font-family: Percent, Beatrice, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 5px;
}


.login-signup-link-group {
    font-family: Manrope, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.3;
        color: #656e5e;
}

.login-signup-link {
    font-family: Manrope, Arial, sans-serif;
    font-size: 16px;
    font-weight: 530;
    line-height: 1.3;
    color: #2b381f;
}