.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-header h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

.form-header p {
    font-size: 14px;
    color: #666;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #376A2A;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

button[type="submit"]:hover {
    background-color: #253122;
}

.errors {
    color: red;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.errors li {
    margin-bottom: 5px;
}