.signup-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/assets/bgd-large-1.jpeg');
    background-size: cover;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 400px;
}

/* signup-form, inputs, and buttons */

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.signup-form>* {
    margin-bottom: 20px;
}

.signup-form-header {
    text-align: center;
    margin: 0px;
}

.signup-form-header>* {
    font-family: Percent, Beatrice, Arial, sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.3;
    color: #2b381f;
}

.signup-form-header :last-child {
    font-size: 18px;
}

.signup-form-input-group {
    position: relative;
}

.signup-inputs:focus~.signup-input-labels {
    background: white;
    padding: 2px;
    left: 12px;
    top: -12px;
    font-size: 14px;
    opacity: 1;
    color: #0c441e;
    /* transition: color 0.3s ease; */
}

.signup-inputs:not(:focus):valid~.signup-input-labels {
    background: white;
    padding: 2px;
    left: 12px;
    top: -12px;
    font-size: 14px;
    opacity: 1;
    color: #888d85;
    /* transition: color 0.3s ease; */
}


.signup-inputs {
    font-family: Manrope, Arial, sans-serif;
    font-size: 16px;
    width: 360px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 0 1px transparent;
    padding-left: 15px;
    transition: border 0.3s ease;
}

.signup-inputs:focus {
    border: 1px solid #0c441e;
    box-shadow: 0 0 0 1px #0c441e;
    outline: none;
}

.signup-inputs:hover {
    border: 1px solid #0c441e;
    outline: none;
}

.signup-input-labels {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 12px;
    transition: 0.2s ease all;
    font-family: Manrope,
        Arial,
        sans-serif !important;
    font-size: 16px;
    color: #888d85;
}

.signup-button {
    background-color: #0c441e;
    color: #fff;
    padding: 10px 100px;
    border-radius: 9999px;
    border: none;
    font-family: Manrope, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease all;
    width: 375px;
    /* height: 40px; */
    /* margin-right: 10px; */
}

.signup-button:hover {
    background-color: #253122;
}


/* errors */
.signup-errors {
    color: red;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.signup-errors li {
    font-family: Manrope, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 5px;
}


/* navlink-group */
.signup-login-link-group {
    font-family: Manrope, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: #656e5e;
}

.signup-login-link {
    font-family: Manrope, Arial, sans-serif;
    font-size: 16px;
    font-weight: 530;
    line-height: 1.3;
    color: #2b381f;
}