.trailshow-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefec;
}

.trailshow-navigation {
    height: 20px;
}

.trailshow-card {
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 8px 16px -1px rgb(0 0 0 / 40%);
    width: 1024px;
}

.trailshow-card-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 0px 8px rgb(0 0 0 / 50%);
}

.trailshow-card-header{
    /* margin: 160px 560px 0px 0px; */
    margin-top: 220px;
    display: inline-block;
    width: max-content;
    padding-right: 30px;
    /* background-color: #01352c; */
    background-color: rgba(1, 53, 44, 0.9);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 4px 4px rgb(0 0 0 / 50%);
}
.trailshow-card-header>* {
    padding-left: 20px;
}

.trailshow-name {
    font-family: Percent, Beatrice, Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.3;
    color: #efefec;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.trailshow-header-reviews {
    font-family: Manrope, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #efefec;
    margin-top: 2px;
    margin-bottom: 8px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}


.trailshow-card-body-container {
    display: flex;
    justify-content: space-evenly;
}

/* .trailshow-card-body-container>* {
    border: 0.1px inset rgba(1, 53, 44, 0.2);
} */

.trailshow-content {
    flex: 0 0 60%;
    padding: 20px 10px 20px 20px;
    background-color: white;
}

.trailshow-properties {
    margin-top: 20px;
}

.trailshow-properties-headers,
.trailshow-properties-data {
        display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
}

.trailshow-properties-headers {
        font-family: Manrope, Arial, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #656e5e;
}

.trailshow-properties-data {
    font-family: Manrope, Arial, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        color: #2b381f;
        width: auto;
}

.trailshow-description {
    font-family: Manrope, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #2b381f;
    margin: 30px 100px 120px 0px;
}

.trailshow-review-summary {
    border-top: 1px solid rgba(1, 53, 44, 0.2);
    border-bottom: 1px solid rgba(1, 53, 44, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.trailshow-card-avgrating-container {
    font-family: Percent, Beatrice, Arial, sans-serif;
    /* line-height: 1.3; */
    color: #2b381f;
    font-size: 22px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.trailshow-card-avgrating {
    font-size: 46px;
}

.trailshow-card-numreviews {
    font-size: 20px;
}

.review-container {
    border-bottom: 1px solid rgba(1, 53, 44, 0.2);
    padding-bottom: 10px;
}

.review-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(.33, 1, .68, 1);
}

.review-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.review-form {
    display:flex;
    flex-direction: column;
}

.review-modal-close-button {
    background-color: #fff;
    color: #2b381f;
    transition: all 200ms ease-in-out 0s;
    font-size: 28px;
    height: 50px;
    width: 50px;
    border-radius: 9999px;
    border: none;
    fill: currentcolor;
    padding: 0px;
}

.review-modal-close-button:hover {
    transform: rotate(-90deg);
    background-color: #c9c9c9;
    cursor: pointer;
}

.review-modal-trail-name {
    font-family: Percent, Beatrice, Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.3;
    color: #2b381f;
    margin-left: 20px;
}

.review-modal-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    /* padding: 20px; */
    margin-left: 20px;
}

.review-modal-rating > input {
    display: none;
}

.review-modal-rating:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.review-modal-rating>input:checked~label {
    color: rgb(93, 227, 114);
}

.review-modal-rating:not(:checked)>label:hover,
.review-modal-rating:not(:checked)>label:hover~label,
.review-modal-rating>input:checked+label:hover,
.review-modal-rating>input:checked+label:hover~label,
.review-modal-rating>input:checked~label:hover,
.review-modal-rating>input:checked~label:hover~label,
.review-modal-rating>label:hover~input:checked~label {
    color: rgb(61, 148, 74);
}

.review-modal-textarea {
    width: 400px;
    height: 200px;
    border: 1px solid rgba(1, 53, 44, 0.2);
    border-radius: 20px;
    padding: 15px;
    font-family: Percent, Beatrice, Arial, sans-serif;
    font-size: 18px;
    margin: 20px;
}

.review-modal-hikedate {
    font-family: Percent, Beatrice, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #2b381f;
    margin-left: 20px;
}

.review-modal-submit-button {
    /* based off button-type1 */
    background-color: #0c441e;
    color: #fff;
    margin-top: 80px;
    margin-right: 20px;
    padding: 15px 20px;
    border-radius: 9999px;
    border: none;
    font-family: Manrope, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease all;
    width: auto;
    align-self: flex-end;
}

.review-modal-submit-button:hover {
    background-color: #253122;
}

.write-review-button {
    /* based off button-type1 */
    background-color: #0c441e;
    color: #fff;
    padding: 15px 20px;
    border-radius: 9999px;
    border: none;
    font-family: Manrope, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease all;
    width: auto;
}

.write-review-button:hover {
    background-color: #253122;
}

.review-author {
    font-family: Manrope, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #2b381f;
    flex: 1 0 auto;
    padding-top: 10px;
}

.review-hikedate {
    font-family: Manrope, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #2b381f;
    color: #656e5e;
    padding-bottom: 10px;
}


.review-description {
        font-family: Manrope, Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        color: #2b381f;
        padding-bottom: 4px;
}

.trailshow-sidebar {
    flex: 40%;
    padding: 20px 20px 20px 10px;
    background-color: white;
    border-left: 1px solid rgba(1, 53, 44, 0.2);
}

.trailshow-othertrails-header {
    font-family: Manrope, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: #253122;
    padding-top: 30px;
    padding-left: 15px;
    text-decoration: underline;
    text-underline-position: under;
}

.trailshow-othertrails-river {
    padding-left: 15px;
}

.trailshow-othertrails-river > * {
    margin-bottom: 40px;
}

.edit-review-button {
    padding-right: 10px;
    border-right: 1px solid rgba(1, 53, 44, 0.2);
    font-family: Manrope, Arial, sans-serif;
    font-weight: 550;
    line-height: 1.5;
    font-size: 14px;
    color: #253122;
    text-decoration: underline;
    text-underline-position: under;
}

.edit-review-button:hover,
.delete-review-button:hover {
    color: #192117;
    cursor: pointer;
}

.delete-review-button {
    padding-left: 10px;
    font-family: Manrope, Arial, sans-serif;
    font-weight: 550;
    line-height: 1.5;
    font-size: 14px;
    color: #253122;
    text-decoration: underline;
    text-underline-position: under;
}

